.inline_only li
{
  list-style: none ;
  display: inline ;
  padding-right: 0 ;
  margin-right: 0 ;
/*  color: #ff0000;*/
}

#corp .inline_only
{
  display: inline ;
  padding: 0 ;
}

.inline_only:before {content:":"}
.inline_only li:before {content:", "}
.inline_only li:first-child:before {content:""}

.masqued_ul > ul, .masqued_p > p
{
  display: none ;
}
span
{
	padding-right:20px;
	width: 100px;
}
h3, span
{
	font-weight: bold;
	display: inline;
	font-size: 110%;
}
p
{
	margin-top: 0;
}
body
{
/*	color:#805e00;*/
	color:#004;
	margin:auto;
  width: 954px ;
  background: url('images/header.gif') no-repeat;
  background-position: center 40px;
}
#photo
{
  position: absolute ;
  top:192px;
  margin-left:712px ;
}

a img {border:0px;margin:1px;}
#photo a:hover img {border: 1px dashed #88F; margin:0px}
a {text-decoration: none; color: #668;}
a:hover {text-decoration: underline;}

#contact
{
  position: absolute ;
  top:186px;
  margin-left:102px ;
}

#contact ul
{
  margin-top:0;
  margin-left:0;
  padding-left:0;
  padding:0;
}

li {list-style-type: none;}

#nom {font-weight:bold;}
#adresse, #tel, #mail {margin-top:10px;}
address {font-style: normal;}

h1
{
	display: none;
  position: absolute ;
  top:34px !important;
  top:68px ;
  text-align:center ;
  margin-left:2px;
  width:950px;
  font-size:320%;
  letter-spacing:16px ;
  word-spacing:32px ;
}

h2
{
  position: absolute ;
  top:165px !important;
  top:200px ;
  text-align:center ;
  margin-left:277px;
  width:400px;
  font-size:275%;
  letter-spacing:6px ;
  line-height:78px;
}

#corp ul
{
	padding-left: 45px;
	margin-left: 0px;
}
li
{
	padding-left: 0px !important;
	padding-left: 8px;
}
#corp > ul
{
	padding-left: 65px;
}
#corp
{
	padding-left: 0px;
	margin-top:443px ;
  width: 954px !important;
  width: 955px ;
  background: url('images/body.gif') repeat-y top center;
}
#listeGlobal
{
	padding-right: 30px;
}
#footer
{
  margin-top:-16px !important;
  margin-top:0px ;
  height:102px;
  width: 954px !important;
  width: 955px ;
  background: url('images/footer.gif') no-repeat bottom center;
  text-align: left;
}
#bottomAdjust
{
	padding-top: 25px; 
}
#pdf
{
  font-weight:bold ;
  display:inline;
  margin-left:227px ;
}

#w3c
{
  display:inline;
  width: 250px;
  margin-left:220px ;
  position: relative ;
  top:13px ;
}

#w3c a
{
  padding-right:32px ;
}
