.inline_only li
{
  list-style: none ;
  display: inline ;
  padding-right: 0 ;
  margin-right: 0 ;
/*  color: #ff0000;*/
}

#corp .inline_only
{
  display: inline ;
  padding: 0 ;
}

.inline_only:before {content:":"}
.inline_only li:before {content:", "}
.inline_only li:first-child:before {content:""}

.masqued_ul > ul, .masqued_p > p
{
  display: none ;
}
h3, span
{
	font-weight: bold;
	display: inline;
	font-size: 110%;
}
p
{
	margin-top: 0;
}
body
{
	color:#004;
	margin:auto;
}

a img {border:0px;margin:1px;}
#photo a:hover img {border: 1px dashed #88F; margin:0px}
a {text-decoration: none; color: #668;}
a:hover {text-decoration: underline;}

#contact ul
{
  margin-top:0;
  margin-left:0;
  padding-left:0;
  padding:0;
}

li {list-style-type: none;}

#nom {font-weight:bold;}
#adresse, #tel, #mail {margin-top:10px;}
address {font-style: normal;}

h1
{

  text-align:center ;
  font-size:320%;
}

h2
{
  text-align:center ;
  font-size:275%;
}

#corp ul
{
	padding-left: 0px;
	margin-left: 0px;
}
li
{
	padding-left: 0px !important;
	padding-left: 8px;
}
#corp
{
	padding-left: 0px;
}

#pdf
{
  font-weight:bold ;
}
